doctype html
html
  head
    title
  body
    h1
      a(href="http://localhost:8000/registro") Registro

    h1
      a(href="http://localhost:8000/login") Login
    h1 #{email}

    h1
      a(href="http://localhost:8000/peliculas/list") List
