doctype html
html
  head
    title
  body
    h1 Registro
    form(action="http://localhost:8000/users/registro" method="post")
      p email:
      input(type="text" name="email")
      p contraseña
      input(type="password" name="password")
      button(type="submit") submit
